 body{ background: Navy;
	color: mintcream;
font-size: 12pt;}
UL{list-style-type: none}
H1{ background: MidnightBlue;
	color: coral;
font-size: 36pt;}
 html{text-align:center;}
nav a{font-size:24pt;}
nav a{ color: Magenta;
text-decoration: none }
nav a:hover { color:oldlace}
a {text-align:center;}
nav li { display: inline-block }
nav li { border: 40px solid black }
nav li { padding: 10px;
		 margin: 5px;
		 background: Blue }